* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

*::selection {
    background: #333333;
    color: #fff;
}

header {
    padding: 0 50px;
    width: 100%;
}
.container {
    max-width: 1140px;    
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-content img {
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;

     & li {
        position: relative;
        padding: 10px 0;
     }

    & li i {
        color: green;
    }
    & li a {
        text-decoration: none;
        color: green;
        text-transform: capitalize;
        transition: color 0.2s linear;

        &:hover {
            color: orange;
        }
    }
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    align-items: center;
    /* display: flex; */
    /* flex-direction: column; */
    gap: 5px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.dropdown li {
    width: 100%;
    padding: 10px 30px;
    border-bottom: 1px solid #ccc;
}

.dropdown li:last-child {
    border-bottom: none;
}

nav ul li:hover .dropdown {
    display: block;
}

/* hero section  */
.hero {
    width: 100%;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    & img {
        width: 90%;
        object-fit: contain;
        object-position: center center;
    }
}

/* course section  */
.course {
    width: 100%;
    margin-bottom: 100px;
}

.course-section {
    margin: auto;
}

.course-section .title {
    text-align: center;
    font-size: 1.5rem;
    color: #0a3e65;
}

.course-title {
    padding: 100px 0 50px 0;
    color: #0a3e65;
}

.items {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
   
}

.items .item {
    border: 1px solid #111;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.items .item img {
    width: 100%;
}

.items .item a {
    text-decoration: none;
}
.items .item h3 {
    text-align: center;
    color: #0a3e65;
    padding: 20px 0;
}

.items .item p {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}

.items .item button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    background: #0a3e65;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* ------------------------------------------------ */
/* events section  */
.event {
    width: 100%;
    background: #f5f7f9;
    /* margin-bottom: 100px; */
}

.event-section {
    margin: auto;
}

.event-title {
    padding: 30px 0;
    color: #0a3e65;
}

.event-items {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
   padding-bottom: 60px;
}

.event-items .item {
    border: 1px solid #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.event-items .item img {
    width: 100%;
}

.event-items .item a {
    text-decoration: none;
}
.event-items .item h3 {
    text-align: center;
    color: #0a3e65;
    padding: 20px 0;
}

.event-items .item p {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}

.event-items .item button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    background: #0a3e65;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}


/* section achievement  */
.achievement {
    width: 100%;
    margin: auto;
    background: #f5f7f9;
    padding: 3rem 0;
}

.achievement-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & h2 {
        color: #0a3e65;
        font-size: 2rem;
    }

    & .achieve {
        text-align: center;

        & h3 {
            font-size: 3rem;
            font-weight: normal;
            color: #0a3e65;
        }
        & span {
            text-transform: capitalize;
        }
    }
}

/* instructor section  */
.instructor-content {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}

.instructor-info {
    margin-top: 1rem;

    & h2 {
        color: #156a3d;
        text-transform: capitalize;
        margin-bottom: .8rem;
    }

    & h3 {
        font-size: 1.5rem;
        color: #0a3e65;
        margin-bottom: .8rem;
    }
    & p {
        color: #156a3d;
        line-height: 2;
        font-size: 18px;
    }
}

/* footer section  */
footer {
    width: 100%;
    padding: 2rem 20px;
    background: #f3f3f3;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info h4 {
    font-size: 15px;
    font-weight: normal;
    color: #0a3e65;
    line-height: 1;
    padding: 1rem 0;
}

.footer-info address {
    color: #156a3d;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.footer-info p {
    font-size: 20px;
    color: #156a3d;

    & a {
        text-decoration: none;
        color: #3f3333;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            color: #63c3f3;
        }
    }

}

.footer-menu ul {
    list-style: none;

    & li {
        padding: 5px 0;
    }
    & li a {
        text-decoration: none;
        text-transform: capitalize;
        color: #156a3d;
        transition: all 0.3s linear;

        &:hover {
             color: orange;
        }
    }
}

.links ul {
    display: flex;
    justify-content: end;

    & li a {
        font-size: 2.5rem;
    }
}
.links ul li:first-child a {
    color: #3b5998;
}
.links ul li:last-child a {
    color: #cd201f;
}

.links ul li a:hover {
    opacity: 0.8;
}

/* responsive design  */

@media screen and (max-width: 1024px) {
    .menu-toggle {
        display: block;
    }
  
    .header-content a img {
        width: 250px;
    }

    nav {
        display: none;
    }

    
    .items {
        padding: 0 5rem;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

   .event-items {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 0px 5rem 50px 5rem;
    }
}

/* scroll to top  */
.scroll-top {
    position: fixed;
    right: 32px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background: #939495;
    opacity: .8;
    border-radius: 2px;
    display: none;
    transition: all 0.7s linear;
    
    & i {
        height: 100%;
        font-size: 1.5rem;
        font-weight: 800;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            background-color: #000;
        }
    }
}

.show-scroll {
    display: block;
    transition: all 0.7s linear;
}

@media screen and (max-width: 768px){
    .header-content a img {
        width: 200px;
    }
    
    .items {
        padding: 0 2rem;
        grid-template-columns: 1fr;
        gap: 20px;
    }

   .event-items {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        padding: 0px 2rem 50px 2rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: end;
    }
    .footer-menu {
        text-align: end;
        margin-right: 20px;
        margin-top: 20px;
    }
    .links {
        margin-right: 120px;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .achievement-content {
        flex-direction: column;
    }
    .instructor-content {
        flex-direction: column;
        padding: 10px 30px 30px 20px;
         & img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
        }
    }
}